<div class="row">
    <div *ngFor="let p of ListaProductos" class="col s4 m6">
      <div class="card">
        <div class="card-image">
          <img src="http://localhost:4200/files/2/{{p.imagenes[0].id}}"> 
        </div>
        <div>
          <span class="card-title">nombre: {{p.nombre}}</span>
        </div>
        <div class="card-action">
          <div class="input-field col s3">
              <button (click)="detalles(p.id)" class="btn waves-effect waves-light" type="submit" name="action">Detalles</button>
          </div>
        </div>
      </div>
    </div>
</div>