.FondoL2{
    background-image: url(https://images6.alphacoders.com/812/812881.jpg);
    background-size: cover;
    overflow: hidden;
    height: 100vh;
  }
  
  div.row{
    margin-top: 16%;
    width: 500px;
    height: 500px;
  }
  
  form.casillas{
    background-color: aliceblue;
    width: 500px;
    height: 170px;
  }
  
  label{
    height: 100%;
    width: 100%;
    background-color: aliceblue; 
    color: black;
  }
  .casillas{
    width: 95%;
    height: 15%;
    margin-left: 1%;
    margin-bottom: 15%;
    background-color: aliceblue; 
  }
  
  