<body class="FondoL2">
    <div class="Mboton">
        <a routerLink="/productos/producto-crear" class="waves-effect waves-light btn">Nuevo Producto</a>
    </div>
<br />
<br />
<table class="highlight" class="centered" >
    <thead>
        <tr>
            <td>
                ID
            </td>
            <td>
                NOMBRE
            </td>
            <td>
                PRECIO
            </td>
            <td>
                CATEGORIA
            </td>
            <td>
                IMAGEN
            </td>
            <td>
                ELIMINAR
            </td>
            
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of producto | paginate: { itemsPerPage: 8, currentPage: pagina }">
            <td>
                {{p.id}}
            </td>
            <td>
                {{p.nombre}}
            </td>
            <td>
                {{p.precio}}
            </td>
            <td >
                {{p.categoriaid}}
            </td>
            <td>
                <a routerLink="/productos/producto-imagen/{{p.id}}" class="waves-effect waves-light btn orange">Subir Imagen</a>
            </td>
            <td>
                <button (click)="EliminarProducto(p)" class="btn red waves-effect waves-light" type="button">Eliminar</button>
            </td>
        </tr>
    </tbody>
</table>
<pagination-controls (pageChange)="pagina = $event"></pagination-controls>
</body>
