<body class="FondoL2">
  <div class="row">
      <form [formGroup]="fgValidador" class="casillas">
        <div class="casillas">
          <div class="casillas">
            <label for="Nproducto">Nombre del Producto</label>
            <input id="Nproducto" formControlName="nombre" type="text" class="validate" required>
            </div>
          </div>
        <div class="casillas">
          <div class="casillas">
            <label for="precio">Precio del Producto</label>
            <input id="precio" formControlName="precio" type="number" class="validate" required>
          </div>
        </div>
        <div class="casillas">
          <div>
            <label>Seleccionar la Categoria</label>
            <br>
             <div class="input-field col s6">
              <select class="browser-default" formControlName="categoriaid">
                <option *ngFor="let c of extCategoriaLista" value="{{c.id}}">{{c.nombre}}</option>
              </select>
              
            </div>
          </div>
           
        </div>
        <div class="casillas">  
          <div class="casillas">
            <button (click)="GuardarProducto()" class="btn btn-large btn-register waves-effect waves-light" type="submit" name="action">Guardar Producto</button>
          </div>
        </div>
      </form>
    </div>
</body>
  